.feedback-form {
  display: flex;
  flex-direction: column;

  width: 408px;
  padding: 24px;
  border-radius: 8px;
  margin: 0 auto;
  background: #fff;
}

label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

input,
textarea {
  padding-left: 16px;
  margin-bottom: 16px;
  outline: transparent;
  border: 1px solid #808080;
  border-radius: 4px;

  color: #2e2f42;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: border-color 250ms ease-out;
}

textarea {
  height: 80px;
  padding-top: 8px;
}

input {
  height: 40px;
  margin-bottom: 8px;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #000;
}

button[type='submit'] {
  max-width: 95px;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 8px 16px;
  border: transparent;
  border-radius: 8px;
  outline: transparent;
  background: #4e75ff;

  transition: background-color 250ms ease-out;
}

button[type='submit']:hover,
button[type='submit']:focus {
  background-color: #6c8cff;
}
