.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  max-height: 296px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 #cccccc;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  border-radius: 4px;
}
 span {
  font-family: 'Montserrat', Regular;
  font-size: 16px;
} 

input,
textarea {
  font-family: 'Montserrat', Regular;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border-color: #808080;
  width: 100%;
}
input {
  height:40px ;
}
textarea {
    height: 80px;
}
input:hover,
input:focus {
  border-color: #000000;
}
input:active {
  border-color: #808080;
  color: #2e2f42;
}

textarea {
  resize: none;
}

button {
  font-family: 'Montserrat', Medium;
  font-size: 16px;
  background-color: #4e75ff;
  line-height: 1.5;
  width: 95px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: color 250ms linear, border-color 250ms linear;
}
button:hover,
button:focus {
  background-color: #6c8cff;
}
